@{
    ViewData["Title"] = "Gallery Page";
}

<!-- Container (Pricing Section) -->
<div class="container-fluid bg-4 text-center">
    <h2 class="margin">@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>

    <!-- Photo Grid -->
    <div class="w3-row">
        <div class="w3-half">
        <img src="~/images/edited/ls/_joseph.jpg" title="DMW with son Joseph Githithu" style="width:100%">
        <img src="~/images/edited/ls/_grandies.jpg" title="DMW with son and grandchildren" style="width:100%">
        <img src="~/images/edited/ls/_sons.jpg" title="DMW with sons Peter and Moses" style="width:100%">
        </div>

        <div class="w3-half">
        <img src="~/images/edited/ls/_moses.jpg" title="DMW at Moses' funeral" style="width:100%">
        <img src="~/images/edited/pt/_brother_mother.jpg" title="DMW with brother Kabuki and mother Njeri" style="width:100%">
        </div>
    </div>

</div>