@{
    ViewData["Title"] = "Gallery Page";
}

<!-- Container (Pricing Section) -->
<div class="container-fluid bg-4 text-center">
    <h2 class="margin">@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>

    <p>The ceremony video</p>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XGSy3_Czz8k"></iframe>
        </div>

    <!-- Photo Grid -->
    <!--<div class="w3-row">
        <div class="w3-half">
        <img src="~/images/edited/ls/_joseph.jpg" title="DMW with son Joseph Githithu" style="width:100%">
        <img src="~/images/edited/ls/_grandies.jpg" title="DMW with son and grandchildren" style="width:100%">
        <img src="~/images/edited/ls/_sons.jpg" title="DMW with sons Peter and Moses" style="width:100%">
        </div>

        <div class="w3-half">
        <img src="~/images/edited/ls/_moses.jpg" title="DMW at Moses' funeral" style="width:100%">
        <img src="~/images/edited/pt/_brother_mother.jpg" title="DMW with brother Kabuki and mother Njeri" style="width:100%">
        </div>
    </div>-->

    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/edited/ls/_sons.jpg" target="_blank">
                <img src="~/images/edited/ls/_sons.jpg" class="img-responsive" alt="Fjords" style="width:100%">
                <div class="caption">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/edited/ls/_joseph.jpg" target="_blank">
                <img src="~/images/edited/ls/_joseph.jpg" class="img-responsive" alt="Lights" style="width:100%">
                <div class="caption">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="~/images/edited/ls/_grandies.jpg" target="_blank">
                <img src="~/images/edited/ls/_grandies.jpg" class="img-responsive" alt="Nature" style="width:100%">
                <div class="caption">
                    <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
                </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/edited/ls/_joseph.jpg" target="_blank">
            <img src="~/images/edited/ls/_joseph.jpg" class="img-responsive" alt="Lights" style="width:100%">
            <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
            </a>
        </div>
        </div>
        <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/edited/ls/_grandies.jpg" target="_blank">
            <img src="~/images/edited/ls/_grandies.jpg" class="img-responsive" alt="Nature" style="width:100%">
            <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
            </a>
        </div>
        </div>
        <div class="col-md-4">
        <div class="thumbnail">
            <a href="~/images/edited/ls/_sons.jpg" target="_blank">
            <img src="~/images/edited/ls/_sons.jpg" class="img-responsive" alt="Fjords" style="width:100%">
            <div class="caption">
                <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div>
            </a>
        </div>
        </div>
    </div>
</div>

</div>