@{
    ViewData["Title"] = "Locked out";
}
<div class="container-fluid bg-4">
    <header>
        <h1 class="text-danger margin">Locked out.</h1>
        <p class="text-danger">This account has been locked out, please try again later.</p>
    </header>
</div>