@{
    ViewData["Title"] = "Tributes Page";
}

<!-- Container (Pricing Section) -->
<div class="container-fluid bg-4 text-center">
    <h2>@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>

</div>