@{
    ViewData["Title"] = "About";
}


<div class="container-fluid bg-4 text-center">
    <h2 class="margin">@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>
    <p>Ni mukumenyithio gikuu kia Mwalimu Daniel Wambura Mburu. Gikuu kia Daniel Wambura Mburu kionekire thutha wa dwari ya ihida inini.</p>
    <p>Ni muthuri wa Margaret Wairimu Wambura.</p>
    <p>Ni mwana wa atigairi Moses Mburu Githithu na Tabitha Njeri Mburu.</p>
    <p>Ni muru wa nyina na mutigairi John Muriuki, Samwel Kahoi, David Ndung’u, mutigairi Stephen Ngugi na Peter Kabuki.</p>
    <p>Ni ithe wa mutigairi Njeri, Wambui, Murugi, Nyokabi, Wanjiru, mutigairi Mburu, Wanjohi, Nyawira, Wairimu, Githithu, Mumbi na Nderitu. Mwiri ukarutwo General Kago mortuary, Thika.</p>
    <p>Mahoya na mathiko marumirire kwao mucii Mununga, Kigio sub-location, Gatanga location.</p>
    <p>Ni Ngai wamuheanire na nowe wacokera. Aromama kwega kuraga Mwalimu Daniel Wambura Mburu.</p>
</div>

