@{
    ViewData["Title"] = "About";
}


<div class="container-fluid bg-4 text-center">
    <h2 class="margin">@ViewData["Title"].</h2>
    <h3>@ViewData["Message"]</h3>
    <p>Mwalimu Daniel Wambura Mburu dies shortly after being admitted to St. Jude Nursing Hospital in Gatundu South for check-up.</p>
    <p>Mwalimu Mburu was the HUSBAND to Margaret Wairimu Wambura, </p>
    <p>a SON to the late Moses Mburu Githithu and the late Tabitha Njeri Mburu, </p>
    <p>a BROTHER to the late John Muriuki, Samwel Kahoi, David Ndung’u, mutigairi Stephen Ngugi and Peter Kabuki.</p>
    <p>a FATHER to the late Njeri, Wambui, Murugi, Nyokabi, the late, mutigairi Mburu, Wanjohi, Nyawira, Wairimu, Githithu, Mumbi and Nderitu.</p>
    <p>Mwalimu Daniel was taken to General Kago Road Funeral Home, Thika.</p>
    <p>Preparations for his burial was do at his home in Mununga, Kigio sub-location, Gatanga location.</p>
    <p>We loved you, but God loved you much more. <a >#RestInPeace</a> Mwalimu Daniel Wambura Mburu.</p>
</div>

