@{
    ViewData["Title"] = "Account";
}



<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<input value="+254" id="country_code" />
<input placeholder="phone number" id="phone_number"/>
<button onclick="smsLogin();">Login via SMS</button>
<div>OR</div>
<input placeholder="email" id="email"/>
<button onclick="emailLogin();">Login via Email</button>

