@{
    ViewData["Title"] = "Bio Page";
}

                @if (@DateTime.UtcNow.Day == 6 && @DateTime.UtcNow.Month == 7 && @DateTime.UtcNow.Year == 2017)
                {
                    <div class="container-fluid bg-1 text-center">
                        <h2 class="margin">Guciarwo gwake</h2>
                        <p style="color:black">Mwalimu Daniel Wambura Mburu aciarirwo mwaka-ini wa 1954 itura-ini ria Ngeca, Mununga, Kigio Sub-location, Gatanga Location, Murang’a County. Arari mwana wa kana wa atigaire Moses Mburu Githithu, na mwendwo niiri Tabitha Njeri Mburu. Aciaranirwo na: </p>
                        <ul>
                            <ol>John Muriuki Mburu (mutigairi),</ol>
                            <ol>Samwel Kahoi Mburu,</ol>
                            <ol>David Ndung’u Mburu,</ol>
                            <ol>Stephen Ngugi Mburu (mutigairi), na</ol>
                            <ol>Peter Kabuki Mburu</ol>
                        </ul>

                        <p style="color:black">Mutigairi Daniel Mburu ni muru wa ithe na:</p>
                        <ul>
                            <ol>Margaret Wambui Saba</ol>
                            <ol>James Kabogo Mburu,(mutigairi)</ol>
                            <ol>Joseph Githithu Mburu,</ol>
                            <ol>Paul Ngure Mburu (mutigairi),</ol>
                            <ol>Susan Njoki Mburu,</ol>

                            <ol>Jane Wairimu Mburu,</ol>
                            <ol>Elizabeth Wairimu Mburu,</ol>
                            <ol>Emma Gateiya Mburu,</ol>
                            <ol>Ann Nyangonyo Mburu,</ol>
                            <ol>William Githithu Mburu,</ol>

                            <ol>Joseph Mungai Mburu,</ol>
                            <ol>Esther Wangui Mburu,</ol>
                            <ol>Patricia Njeri Mburu,</ol>
                            <ol>Rachael Wanjiru Mburu,</ol>
                            <ol>John Muriuki Mburu, na</ol>
                            <ol>Isaac Wamwea Mburu</ol>
                        </ul>
                    </div>

                    <div class="container-fluid bg-3 text-center">
                        <h2 class="margin">Kanitha</h2>
                            <div>
                                <p>Daniel Wambura Mburu ni aingiririo kanitha-ini wa AIPCEA church ni aciari ake na agibatithio mwaka-ini wa XXXXX.</p>
                            </div>
                    </div>

                    <div class="container-fluid bg-2 text-center">
                        <h2 class="margin">Githomo</h2>
                            <div>
                                <p>Mutigairi Daniel Wambura Mburu ni athomeire cukuru-ini wa Gakurari primary kuma mwaka-ini wa 1961-1967. Agicoka akiingira cukuru wa Kirwara Secondary mwaka-ini wa 1968-1971, thutha ucio akiingira Kaimosi Teachers College mwaka-ini wa 1974-1976.</p>
                            </div>
                    </div>

                    <div class="container-fluid bg-4 text-center">
                        <h2 class="margin">Wira</h2>
                            <div>
                                <p>Kuri mwaka-ini wa 1976 niguo adikirwo ni thirikari wira wa guthomithia cukuru-ini wa Kahuho primary nginyagia mwaka-ini wa 1980. Thutho ucio ni athomithitie cukuri wa Churiri primary (1980-1988), Githinji primary school (1989-1998), Mutonyora primary school (1999-2007) eta mwalimu munene Rwanyambo primary school (2007-2010). Araritaiire cukuru wa Njabini primary school mwaka-ini wa 2013.</p>
                            </div>
                    </div>

                    <div class="container-fluid bg-1 text-center">
                        <h2 class="margin">Utungata</h2>
                        <div>
                            <p>Ni arakoretwo e chairman nyumba ya Mburu wa Githithu, na mwadiki munene nyumba-ini ya mbari ya Ngeca.</p>
                        </div>
                    </div>


                    <div class="container-fluid bg-3 text-center">
                            <h2 class="margin">Kuhikania</h2>
                                <div>
                                    <p style="color:black">Mwalimu Daniel Wambura Mburu ni ahikirie mwendwa wake Margaret Wairimu Wambura mwaka-ini wa 1977, na makirathimwo na ciana ciao: </p>

                                        <ul>
                                            <ol><a href="#">Evangeline Njeri (mutigairi)</a>,</ol>
                                            <ol><a href="#">Evelyne Wambui</a>,</ol>
                                            <ol><a href="#">Esther Murugi</a>,</ol>
                                            <ol><a href="#">Jane Nyokabi</a>,</ol>
                                            <ol><a href="#">Victoria Wanjiru</a>,</ol>
                                            <ol><a href="#">Moses Mburu (mutigairi)</a>,</ol>
                                            <ol><a href="#">Peter Wanjohi</a>,</ol>
                                            <ol><a href="#">Susan Nyawira</a>,</ol>
                                            <ol><a href="#">Nancy Wairimu</a>,</ol>
                                            <ol><a href="#">Joseph Githithu</a>,</ol>
                                            <ol><a href="#">Agnes Mumbi</a>, na</ol>
                                            <ol><a href="#">James Nderitu</a>,</ol>
                                        </ul>
                                    <p style="color:black"> na niatiga tucukuru twake.</p>
                                </div>
                        </div>



                    <div class="container-fluid bg-2 text-center">
                        <h2 class="margin">Dwari</h2>
                        <div>
                            <p>Daniel Wambura Mburu ni anjiririe guthinio ni mwiri mweri wa July, 2016. Ni akoretwo akirigitirwo ni mathibitari ta St. Jude Nursing Gatundu kuria mwathani ara muhurukiirie kuri mweri 28-06-2017 ena ukuru wa miaka 63 years.</p>
                        </div>
                    </div>
                }
                else
                {                    
                    <div class="container-fluid bg-4 text-center">
                        <h2 class="margin" title="Patience Pays">Kahora kari ido</h2>
                        <div>
                            <div class="margin" style="color:lightblue;font-family:verdana;font-size:32px;" id="newcountdown"></div>
                            <p>Thiku inya digaru. no ungieda guteithia na mathiko ma Daniel Mburu hihinya link iyo ikiada.</p>
                        </div>

                        <a asp-area="" asp-controller="Home" asp-action="Donate">Unlock to Support Daniel</a>
                    </div>
                    

                }