@{
    ViewData["Title"] = "Home Page";
}

    <!--<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style>-->

    <!--<style>
      #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
        float: left;
        width: 70%;
        height: 100%;
      }
      #right-panel {
        margin: 20px;
        border-width: 2px;
        width: 20%;
        height: 400px;
        float: left;
        text-align: left;
        padding-top: 0;
      }
      #directions-panel {
        margin-top: 10px;
        background-color: #FFEE77;
        padding: 10px;
        overflow: scroll;
        height: 174px;
      }
    </style>-->

    <style>
        table, th, td 
        {
            border: 1px solid black;
            color: black;
            // border-collapse: collapse;
        }
        table 
        {
            border-spacing: 10px;
        }
        th, td 
        {
            padding: 10px;
        }
        th 
        {
            text-align: center;
        }
        table.names
        {
            font-style: italic;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            width: 100%;    
            background-color: snow;
        }
    </style>

<!-- First Container -->
<div class="container-fluid bg-1 text-center headerbg">
  <h3 class="margin">Daniel Wambura Mburu</h3>
  <img src="~/images/edited/daniel_head_icon.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Dawa" width="350" height="350">
  <h3>Gentleman, Son, Friend, Teacher, Husband, Father, Mentor, and Gone!</h3>
</div>

<!-- Second Container 
    <div class="container-fluid bg-2 text-center">
        <h3 class="margin">Guciarwo gwake</h3>
        <p>Mwalimu Daniel Wambura Mburu aciarirwo mwaka-ini wa 1954 itura-ini ria Ngeca, Mununga, Kigio Sub-location, Gatanga Location, Murang’a County. Arari mwana wa kana wa atigaire Moses Mburu Githithu, na mwendwo niiri Tabitha Njeri Mburu. Aciaranirwo na mutigairi John Muriuki Mburu, Samwel Kahoi Mburu, David Ndung’u Mburu, mutigairi Stephen Ngugi Mburu na Peter Kabuki Mburu. Ni muru wa ithe na Margaret Wambui Saba, mutigairi James Kabogo, Joseph Githithu, mutigairi Paul Ngure, Susan Njoki, Jane Wairimu, Elizabeth Wairimu, Emma Gateiya, Ann Nyangonyo, William Githithu, Joseph Mungai, Esther Wangui, Patricia Njeri, Rachael Wanjiru, John Muriuki na Isaac Wamwea.</p>
        <a href="#" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-search"></span> Search
        </a>
    </div>
-->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Sunrise: 1954 - Sunset: 2017</h3>

    <p>Ni mukumenyithio gikuu kia Mwalimu Daniel Wambura Mburu. Gikuu kia Daniel Wambura Mburu kionekire thutha wa dwari ya ihida inini.</p>
    <p>Ni muthuri wa Margaret Wairimu Wambura.</p>
    <p>Ni mwana wa atigairi Moses Mburu Githithu na Tabitha Njeri Mburu.</p>
    <p>Ni muru wa nyina na mutigairi John Muriuki, Samwel Kahoi, David Ndung’u, mutigairi Stephen Ngugi na Peter Kabuki.</p>
    <p>Ni ithe wa mutigairi Njeri, Wambui, Murugi, Nyokabi, Wanjiru, mutigairi Mburu, Wanjohi, Nyawira, Wairimu, Githithu, Mumbi na Nderitu. Mwiri ukarutwo General Kago mortuary, Thika.</p>
    <p>Mahoya na mathiko marumirire kwao mucii Mununga, Kigio sub-location, Gatanga location.</p>
    <p>Ni Ngai wamuheanire na nowe wacokera. Aromama kwega kuraga Mwalimu Daniel Wambura Mburu.</p>
  
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">Directions</h3><br>
  
    <!-- Add Google Maps -->
    <div id="googleMap" style="height:400px;width:100%;"></div>
    <script>
            function myMap() {
                //var myCenter = new google.maps.LatLng(41.878114, -87.629798);
                var myCenter = new google.maps.LatLng(-0.973439, 36.982020);
                var mapProp = { center: myCenter, zoom: 12, scrollwheel: true, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                var marker = new google.maps.Marker({ position: myCenter });
                marker.setMap(map);
            }
    </script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>*@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB_n-r9Es8Y7mDQI6O7zTz1WGsXTJOhH4&callback=myMap"></script>
</div>

<!--<div class="container-fluid bg-4 text-center">
    <div id="floating-panel">
    <b>Start: </b>
    <select id="start">
      <option value="chicago, il">Chicago</option>
      <option value="st louis, mo">St Louis</option>
      <option value="joplin, mo">Joplin, MO</option>
      <option value="oklahoma city, ok">Oklahoma City</option>
      <option value="amarillo, tx">Amarillo</option>
      <option value="gallup, nm">Gallup, NM</option>
      <option value="flagstaff, az">Flagstaff, AZ</option>
      <option value="winona, az">Winona</option>
      <option value="kingman, az">Kingman</option>
      <option value="barstow, ca">Barstow</option>
      <option value="san bernardino, ca">San Bernardino</option>
      <option value="los angeles, ca">Los Angeles</option>
    </select>
    <b>End: </b>
    <select id="end">
      <option value="chicago, il">Chicago</option>
      <option value="st louis, mo">St Louis</option>
      <option value="joplin, mo">Joplin, MO</option>
      <option value="oklahoma city, ok">Oklahoma City</option>
      <option value="amarillo, tx">Amarillo</option>
      <option value="gallup, nm">Gallup, NM</option>
      <option value="flagstaff, az">Flagstaff, AZ</option>
      <option value="winona, az">Winona</option>
      <option value="kingman, az">Kingman</option>
      <option value="barstow, ca">Barstow</option>
      <option value="san bernardino, ca">San Bernardino</option>
      <option value="los angeles, ca">Los Angeles</option>
    </select>
    </div>
    <div id="map"></div>
    <script>
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: {lat: 41.85, lng: -87.65}
        });
        directionsDisplay.setMap(map);

        var onChangeHandler = function() {
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        };
        document.getElementById('start').addEventListener('change', onChangeHandler);
        document.getElementById('end').addEventListener('change', onChangeHandler);
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        directionsService.route({
          origin: document.getElementById('start').value,
          destination: document.getElementById('end').value,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB_n-r9Es8Y7mDQI6O7zTz1WGsXTJOhH4&callback=initMap"></script>
</div>-->

<!--<div class="container-fluid bg-1 text-center">
    <div id="map"></div>
    <div id="right-panel">
    <div>
    <b>Start:</b>
    <select id="start">
      <option value="Halifax, NS">Halifax, NS</option>
      <option value="Boston, MA">Boston, MA</option>
      <option value="New York, NY">New York, NY</option>
      <option value="Miami, FL">Miami, FL</option>
    </select>
    <br>
    <b>Waypoints:</b> <br>
    <i>(Ctrl+Click or Cmd+Click for multiple selection)</i> <br>
    <select multiple id="waypoints">
      <option value="montreal, quebec">Montreal, QBC</option>
      <option value="toronto, ont">Toronto, ONT</option>
      <option value="chicago, il">Chicago</option>
      <option value="winnipeg, mb">Winnipeg</option>
      <option value="fargo, nd">Fargo</option>
      <option value="calgary, ab">Calgary</option>
      <option value="spokane, wa">Spokane</option>
    </select>
    <br>
    <b>End:</b>
    <select id="end">
      <option value="Vancouver, BC">Vancouver, BC</option>
      <option value="Seattle, WA">Seattle, WA</option>
      <option value="San Francisco, CA">San Francisco, CA</option>
      <option value="Los Angeles, CA">Los Angeles, CA</option>
    </select>
    <br>
      <input type="submit" id="submit">
    </div>
    <div id="directions-panel"></div>
    </div>
    <script>
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: {lat: 41.85, lng: -87.65}
        });
        directionsDisplay.setMap(map);

        document.getElementById('submit').addEventListener('click', function() {
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        });
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var waypts = [];
        var checkboxArray = document.getElementById('waypoints');
        for (var i = 0; i < checkboxArray.length; i++) {
          if (checkboxArray.options[i].selected) {
            waypts.push({
              location: checkboxArray[i].value,
              stopover: true
            });
          }
        }

        directionsService.route({
          origin: document.getElementById('start').value,
          destination: document.getElementById('end').value,
          waypoints: waypts,
          optimizeWaypoints: true,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
            var route = response.routes[0];
            var summaryPanel = document.getElementById('directions-panel');
            summaryPanel.innerHTML = '';
            // For each route, display summary information.
            for (var i = 0; i < route.legs.length; i++) {
              var routeSegment = i + 1;
              summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment +
                  '</b><br>';
              summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
              summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
              summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
            }
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB_n-r9Es8Y7mDQI6O7zTz1WGsXTJOhH4&callback=initMap"></script>
</div>-->

<div class="container-fluid bg-2  text-center">
    <h2 class="margin">Procedure</h2>
    <div style="color:lightblue;font-family:verdana;font-size:26px;" class="margin" id="txt"></div>
    <table class="names">
			<tr>
				<th>08:00 - 09:00</th>
				<td>Clean up the place</td>
			</tr>
			<tr>
				<th>09:00 - 10:00</th>
				<td>Get the body from the mortuary</td>
			</tr>
			<tr>
				<th>10:00 - 11:00</th>
				<td>Receive guests</td>
			</tr>
			<tr>
				<th>11:00 - 12:00</th>
				<td>Pictures</td>
			</tr>
			<tr>
				<th>12:00 - 14:00</th>
				<td>Finishing</td>
			</tr>
		</table>
</div>

<div class="container-fluid bg-4 text-center">
    <h2 class="margin">Thank you for supporting us.</h2>
    
    <div>
        <a class="btn btn-primary btn-lg" style="color:whitesmoke;" asp-area="" asp-controller="Attending" asp-action="Index">Attending the burial</a>
        
        <p>Share on:</p>

        <div id="ogBtn" class="btn btn-success clearfix">Share</div>
        
        <!-- Your share button code -->
        <div class="fb-share-button" 
            data-href="http://www.dmw.co.ke" 
            data-layout="button_count">
        </div>

  </div>
        
        <a class="btn btn-default" style="color:mediumblue;" href="facebook.com"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share</a>
        <a class="btn btn-default" style="color:aquamarine;" href="twitter.com"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Tweet</a>
        <a class="btn btn-default" style="color:aqua;" href="whatsapp.com"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Share</a>
        <a class="btn btn-default" style="color:crimson;" href="googleplus.com"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Share</a>
    </div>
</div>
