@{
    ViewData["Title"] = "Home Page";
}

    <!--<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style>-->

    <!--<style>
      #right-panel {
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

      #right-panel select, #right-panel input {
        font-size: 15px;
      }

      #right-panel select {
        width: 100%;
      }

      #right-panel i {
        font-size: 12px;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
        float: left;
        width: 70%;
        height: 100%;
      }
      #right-panel {
        margin: 20px;
        border-width: 2px;
        width: 20%;
        height: 400px;
        float: left;
        text-align: left;
        padding-top: 0;
      }
      #directions-panel {
        margin-top: 10px;
        background-color: #FFEE77;
        padding: 10px;
        overflow: scroll;
        height: 174px;
      }
    </style>-->

    <style>
        table, th, td 
        {
            border: 1px solid black;
            color: black;
            // border-collapse: collapse;
        }
        table 
        {
            border-spacing: 10px;
        }
        th, td 
        {
            padding: 10px;
        }
        th 
        {
            text-align: center;
        }
        table.names
        {
            font-style: italic;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            width: 100%;    
            background-color: snow;
        }
    </style>

<!-- First Container -->
<div class="container-fluid bg-1 text-center headerbg">
  <h3 class="margin">Daniel Wambura Mburu</h3>
  <img src="~/images/edited/daniel_head_icon.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Dawa" width="350" height="350">
  <h3>Gentleman, Son, Friend, Teacher, Husband, Father, Mentor, and Gone!</h3>
</div>

<!-- Second Container 
    <div class="container-fluid bg-2 text-center">
        <h3 class="margin">Guciarwo gwake</h3>
        <p>Mwalimu Daniel Wambura Mburu aciarirwo mwaka-ini wa 1954 itura-ini ria Ngeca, Mununga, Kigio Sub-location, Gatanga Location, Murang’a County. Arari mwana wa kana wa atigaire Moses Mburu Githithu, na mwendwo niiri Tabitha Njeri Mburu. Aciaranirwo na mutigairi John Muriuki Mburu, Samwel Kahoi Mburu, David Ndung’u Mburu, mutigairi Stephen Ngugi Mburu na Peter Kabuki Mburu. Ni muru wa ithe na Margaret Wambui Saba, mutigairi James Kabogo, Joseph Githithu, mutigairi Paul Ngure, Susan Njoki, Jane Wairimu, Elizabeth Wairimu, Emma Gateiya, Ann Nyangonyo, William Githithu, Joseph Mungai, Esther Wangui, Patricia Njeri, Rachael Wanjiru, John Muriuki na Isaac Wamwea.</p>
        <a href="#" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-search"></span> Search
        </a>
    </div>
-->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Sunrise: 1954 - Sunset: 2017</h3>

    <p>Mwalimu Daniel Wambura Mburu dies shortly after being admitted to St. Jude Nursing Hospital in Gatundu South for check-up.</p>
    <p>Mwalimu Mburu was the HUSBAND to Margaret Wairimu Wambura, </p>
    <p>a SON to the late Moses Mburu Githithu and the late Tabitha Njeri Mburu, </p>
    <p>a BROTHER to the late John Muriuki, Samwel Kahoi, David Ndung’u, mutigairi Stephen Ngugi and Peter Kabuki.</p>
    <p>a FATHER to the late Njeri, Wambui, Murugi, Nyokabi, the late, mutigairi Mburu, Wanjohi, Nyawira, Wairimu, Githithu, Mumbi and Nderitu.</p>
    <p>Mwalimu Daniel was taken to General Kago Road Funeral Home, Thika.</p>
    <p>Preparations for his burial was do at his home in Mununga, Kigio sub-location, Gatanga location.</p>
    <p>We loved you, but God loved you much more. <a >#RestInPeace</a> Mwalimu Daniel Wambura Mburu.</p>

    <!--<p>Ni mukumenyithio gikuu kia Mwalimu Daniel Wambura Mburu. Gikuu kia Daniel Wambura Mburu kionekire thutha wa dwari ya ihida inini.</p>
    <p>Ni muthuri wa Margaret Wairimu Wambura.</p>
    <p>Ni mwana wa atigairi Moses Mburu Githithu na Tabitha Njeri Mburu.</p>
    <p>Ni muru wa nyina na mutigairi John Muriuki, Samwel Kahoi, David Ndung’u, mutigairi Stephen Ngugi na Peter Kabuki.</p>
    <p>Ni ithe wa mutigairi Njeri, Wambui, Murugi, Nyokabi, Wanjiru, mutigairi Mburu, Wanjohi, Nyawira, Wairimu, Githithu, Mumbi na Nderitu. Mwiri ukarutwo General Kago mortuary, Thika.</p>
    <p>Mahoya na mathiko marumirire kwao mucii Mununga, Kigio sub-location, Gatanga location.</p>
    <p>Ni Ngai wamuheanire na nowe wacokera. Aromama kwega kuraga Mwalimu Daniel Wambura Mburu.</p>-->
</div>

<div class="container-fluid bg-4 text-center">
    <h2 class="margin">Thank you for supporting us.</h2>
    
    <div>
      <p>The Dawa Family takes this opportunity to thank everybody who made Mwalimu Daniel Mburu's funeral a success.</p>
      <p>
        <ul>
          <li>Mwalimu Sawaka - Mwalimu Mburu Agemate, family friend, the ceremony M.C,</li>
          <li>Joseph Githithu Muriuki - Son to Mwalimu Mburu's brother, the Organising Secretary,</li>
          <li>The Mburu Wa Willie Family - Family is power,</li>
          <li>Mwalimu Mburu kid's friends from Thika, Nairobi, Kisii - a friend in need is a friend in deed.</li>
          <li>The Dawa Committee</li>
          <li>The Gatanga Constituency M.P Hon. Roho Safi, Mr. Nduati, Mr. Kamari among other Political aspirants present.</li>
          <li>The Kigio Community</li>
        </ul>  
      </p>         
      <p>Share on:</p>

      <div id="ogBtn" class="btn btn-success clearfix">Share</div>
        
      <a class="btn btn-default" style="color:mediumblue;" href="facebook.com"><span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share</a>
      <a class="btn btn-default" style="color:aquamarine;" href="twitter.com"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Tweet</a>
    </div>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">Directions</h3><br>
  
    <!-- Add Google Maps -->
    <div id="googleMap" style="height:400px;width:100%;"></div>
    <script>
            function myMap() {
                //var myCenter = new google.maps.LatLng(41.878114, -87.629798);
                var myCenter = new google.maps.LatLng(-0.973439, 36.982020);
                var mapProp = { center: myCenter, zoom: 12, scrollwheel: true, draggable: true, mapTypeId: google.maps.MapTypeId.ROADMAP };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                var marker = new google.maps.Marker({ position: myCenter });
                marker.setMap(map);
            }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBB_n-r9Es8Y7mDQI6O7zTz1WGsXTJOhH4&callback=myMap"></script>
</div>

<div class="container-fluid bg-2  text-center">
    <h2 class="margin">Procedure</h2>
    <div style="color:lightblue;font-family:verdana;font-size:26px;" class="margin" id="txt"></div>
    <table class="names">
			<tr>
				<th>06:00 - 07:50</th>
				<td>Clean up, and set the place</td>
			</tr>
			<tr>
				<th>08:00 - 10:00</th>
				<td>Get Mwalimu Daniel's remains from the mortuary</td>
			</tr>
			<tr>
				<th>10:00 - 11:00</th>
				<td>Receive guests</td>
			</tr>
			<tr>
				<th>11:00 - 12:00</th>
				<td>Political Aspirants' Hour</td>
			</tr>
			<tr>
				<th>12:00 - 13:00</th>
				<td>Pictures</td>
			</tr>
			<tr>
				<th>13:00 - 15:00</th>
				<td>Church and Burial</td>
			</tr>
			<tr>
				<th>15:00 - </th>
				<td>Lunch and refreshments, and guests leaving. Closing</td>
			</tr>
			<tr>
				<th>CLOSED!</th>
				<td>EXPIRED</td>
			</tr>
		</table>
</div>


